* {
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
}

.container {
  overflow: hidden;
  width: 230px;
  height: 120px;
  max-height: 200px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: #ffffff 0px 0px 20px;
  position: relative;
  margin-left: 43%;
  margin-top: 960px;
  opacity: 0;
  -webkit-animation: slideToRight 1s forwards;
    animation: slideToRight 1s forwards;
}

.container.isInVehicle {
  -webkit-animation: slideToLeft 1s forwards;
  animation: slideToLeft 1s forwards;
}

i {
  font-size: 15px;
  float: left;
  margin-top: 19.8%;
  margin-left: 190px;
}

.velo {
  position: absolute;
  margin-left: 87px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 3.5vh;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.km {
  font-weight: 999;
  font-size: 1,3vh;
  float: left;
  margin-top: 73px;
  margin-left: 90px;
  color: rgb(255, 255, 255);
}

.geartext {
  font-weight: 999;
  font-size: 1vh;
  float: left;
  margin-top: 90px;
  margin-left: -120px;
  color: rgb(255, 255, 255);
}


.gear {
  position: absolute;
  margin-left: 12%;
  margin-top: 60px;
  font-weight: 700;
  font-size: 2vh;
  text-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.progress {
  color: rgb(255, 255, 255);
  width: 400px;
  position: absolute;
  margin-left: 4px;
  margin-top: 10px;
}

.progress header {
  margin-left: 2.5%;
  margin-bottom: 20%;
}

.progress .bar {
  position: relative;
  background-color: #3d3d3d;
  border-radius: 10px;
  margin-left: 13%;
  width: 35%;
}

.progress .bar .percent-fuel {
  position: relative;
  color: #ffffff;
  background-color: rgb(0, 255, 0);
  width: 10%;
  border-radius: 10px;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 100px;
  opacity: 1;
}

.progress-gear {
  position: absolute;
  width: 400px;
  margin-top: 5px;
}

@-webkit-keyframes slideToLeft {
  0% { bottom: 0px; opacity: 0; }

  100% { bottom: 20px; opacity: 1; }
}

@keyframes slideToLeft {
  0% { bottom: 0px; opacity: 0; }

  100% { bottom: 20px; opacity: 1; }
}

@-webkit-keyframes slideToRight {
  0% { bottom: 20px; opacity: 1; }

  100% { bottom: -10px; opacity: 0; }
}

@keyframes slideToRight {
  0% { bottom: 20px; opacity: 1; }

  100% { bottom: -10px; opacity: 0; }
}
